<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <title><%=title%></title>
</head>
<body>    
    <%- include ('./partials/header')%>
    <%- include ('./partials/banner')%>
    <%- include ('./components/collection')%>
    <%- include('./components/slider')%>
    <%- include('./partials/footer')%>

    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
   
    <script>
    new Glide('.glide', {
        type: 'carousel',
        startAt: 0,
        perView: 3,
        gap: 12,
        breakpoint: {
            991: {
                perView: 2
            },
            768: {
                perView: 1
            }
        }
    }).mount();</script>
    
</body>
</html>