<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title><%=title%></title>
</head>
<body>

    <%- include ('../partials/header')%>
    <main class="container">
        <section class="item">            
                <picture class="card-item__cover">
                    <img class="card-item__img--front" src="/img<%= item.image_front %>" alt="<%= item.product_description %>">
                    <img class="card-item__img--back" src="/img<%= item.image_back %>" alt="<%= item.product_description %>">
                </picture>
                <article class="item_info">
                    <p class="item_licence"><%= item.licence_name %></p>
                    <h3 class="item_name"><%= item.product_name %></h3>
                     <p class="item_description"><%= item.product_description %></p>
                    <p class="item_price">$ <%= item.price %></p>
                    <div class="item_cart">
                        <input class="item_input" type="text" id="quantity" name="quantity" placeholder="0">
                        <button id="quitar" class="item_quantity" type="button">-</button>   
                        <button id="agregar" class="item_quantity" type="button">+</button>
                        <button class="item_carrito" type="submit">Agregar al carrito</button>
                    </div>
                    <p class="item_promo"><a href="">Ver métodos de pago - <%= item.dues %> CUOTAS SIN INTERÉS</a></p>
                </article>  
        </section>
    </main>

    <%- include ('../components/slider')%>    
    <%- include ('../partials/footer')%>

 <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
 <script src="/js/item.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
 <script>
    new Glide('.glide', {
        type: 'carousel',
        startAt: 0,
        perView: 3,
        gap: 30,
        breakpoint: {
            991: {
                perView: 2
            },
            768: {
                perView: 1
            }
        }
    }).mount();</script>
</body>
</html>