<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title><%=title%> </title>
</head>
<body>
    <%- include ('../partials/header')%>
    
    <main  id="shop_main" class="container">
        <aside class="shop__filters">
            <form action="" method="">
                <label for="search"><p class="shop__filters_title">BUSCAR</p></label>
                <input type="text" name="search" id="search" placeholder="Item o categoría">
                <label for="orden"><p class="shop__filters_title">ORDENAR POR</p></label>            
                <select name="orden" id="orden">
                    <option value="Mayor a menor">Mayor a menor</option>
                    <option value="Menor a mayor">Menor a mayor</option>
                    <option value="Más vendidos">Más vendidos</option>
                    <option value="Más nuevo arriba">Más nuevo arriba</option>
                </select>
    
                <p class="shop__filters_title">PRECIO</p>
                <label for="min"><p class="shop__filters_option">MIN</p></label>
                <input type="text" name="min" id="min" placeholder="0">
                <label for="min"><p class="shop__filters_option">MAX</p></label>
                <input type="text" name="max" id="max" placeholder="0">
                <p class="shop__filters_title">FILTRAR</p>
                <ul>
                    <li><input type="checkbox" name="opcionUno"
                        id="opcionUno"><label for="" class="shop__filters_option">NUEVOS</label></li>
                    <li><input type="checkbox" name="opcionDos"
                        id="opcionDos"> <label for="" class="shop__filters_option">OFERTAS</label></li>
                    <li><input type="checkbox" name="opcionTres" id="opcionTres">
                        <label for="" class="shop__filters_option">EDICION ESPECIAL</label></li>
                    <li><input type="checkbox" name="opcionCuatro" id="opcionCuatro">
                        <label for="" class="shop__filters_option">FAVORITOS</label></li>
                </ul>
                
            </form>
    
        </aside>
        <section class="shop__items">            
            <ul class="shop_items">
                <% data.forEach (item => { %>    
                    <li>
                        <article class="card-item">
                            <a class="card-item__link" href="/shop/item/<%= item.product_id %>">
                                <picture class="card-item__cover">
                                    <span class="card-item__tag">Nuevo</span>
                                    <img class="card-item__img--front" src="img/<%= item.image_front %>" alt="<%= item.product_description %>">
                                    <img class="card-item__img--back" src="img/<%= item.image_back %>" alt="<%= item.product_description %>"> <!--se muestra en hover-->
                                </picture>
                                <div class="card-item__content">
                                    <p class="card-item__licence"><%= item.licence_name %></p>
                                    <h4 class="card-item__name"><%= item.product_name %></h4>
                                    <p class="card-item__price">$ <%= item.price %></p>
                                    <p class="card-item__promo"><%= item.dues %> CUOTAS SIN INTERÉS</p>
                                </div>
                            </a>
                        </article>
                    </li>  
                    <% }) %>              
            </ul>
                           
        </section>
        

    <!--Armar el paginador-->
    </main>
    

    <%- include ('../partials/footer')%>
</body>
</html>