<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title><%=title%></title>
</head>
<body>
    <%- include ('../partials/headerUser')%>
    
    <main class="container">        
        <section class="admin_search">
            <i class="fa-solid fa-magnifying-glass" class="admin__search_icon"></i>
            <input type="search" name="admin_search" id="admin_search" placeholder="código, nombre o categoría">
        </section>
        <section class="admin_table_title">
            <div>
                <p class="admin_title">Listado de productos</p>                
            </div>
            <div>
                <a class="admin_add_item" href="admin/create">agregar  <i class="fa-solid fa-square-plus"></i> </a>
            </div>
        </section>  
                         
            <table> 
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Código</th>
                    <th>Nombre del Producto</th>
                    <th>Categoría</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>                         
                  <% data.forEach(product => { %>                    
                    <tr>
                      <td><%= product.product_id %></td>
                      <td><%= product.sku %></td>
                      <td><%= product.product_name %></td>
                      <td class="admin_item_licence"><%= product.category_name %></td>
                      <td class="edit">
                        <form action="/admin/delete/<%= product.product_id%>?_method=DELETE" method="post" enctype="application/x-www-form-urlencoded">
                          <a href="/admin/edit/<%= product.product_id%>"><i class="fa-solid fa-pen"></i></a>
                          <button type="submit"><i class="fa-solid fa-trash-can"></i></button> 
                        </form>                       
                      </td>
                    </tr> 
                    <% }); %>  
                </tbody>
                </form>
            </table>
             
    </main>

    <%- include ('../partials/footer')%>
    <script src="https://kit.fontawesome.com/cfc2431752.js" crossorigin="anonymous"></script>
</body>
</html>