<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title><%=title%></title>
</head>
<body>
    <%- include ('../partials/headerUser')%>
    
    <main>
        <form action="/admin/edit" method="POST" enctype="application/x-www-form-urlencoded">
        <section class="editItem">
            <p class="admin_title">Editar item</p> 
        <section class="info_editItem">
            <label class="label_editItem" for="">Categoría:</label>
            <select class="select_options" name="categorias" id="categoria">
                <option selected disabled value="">Seleccionar</option>
                <option value="">Figuras</option>
                <option value="">Funkos</option>
                <option value="">Remeras</option>
                <option value="">Llaveros</option>
            </select>
            <label class="label_editItem" for="">Licencia:</label>
            <select class="select_options" name="" id="licencia">
                <option selected disabled value="">Seleccionar</option>
                <option value="">Naruto Shippuden</option>
                <option value="">Harry Potter</option>
                <option value="">Star Wars</option>
                <option value="">Pokemon</option>
            </select>
        </section>        
        <section class="info_editItem">

            <label class="label_editItem2" for="name">Nombre del producto:</label>
            <input class="input_editItem" type="text" value="<%=product.product_name %>">
        </section>        
        <textarea class="textarea_editItem" name="description" id=""><%=product.product_description %></textarea>                             
        
        <section  class="info_editItem">
            <label class="label_editItem2" for="sku">SKU:</label>
            <input class="input_editItem2" type="text" value="<%=product.sku %>">
            <label class="label_editItem2" for="price">Precio:</label>
            <input class="input_editItem2" type="text" name="price" id="precio" value="<%=product.price %>">
            <label class="label_editItem2" for="stock">Stock:</label>
            <input class="input_editItem2" type="text" name="stock" placeholder="10">

        </section>        
        <section class="info_editItem">
            <label class="label_editItem2" for="">Descuento:</label>
            <input class="input_editItem2" type="text" name="" id="" placeholder="10%">
            <label class="label_editItem2" for="">Cuotas:</label>
            <select class="select_options" id="cuotas">
                <option selected value="">3 cuotas sin interés</option>
                <option value="">6 cuotas con interés bajo</option>
                <option value="">12 cuotas con interés</option>
            </select>
        </section>
        
        <div>
            <label class="label_editItem2" for="images">Imágenes:</label>
            <input class="file" type="file" name="images" id="file">
        </div>
        <div class="edit__imgs">
            <div class="edit_img">
                <img src="/img<%= product.image_front%>" alt="<%=product.product_description %>">
                <p>Frente</p>
            </div>
            <div class="edit_img">
                <img src="/img<%= product.image_back%>" alt="<%=product.product_description %>">
                <p>Dorso</p>
            </div> 
        </div>
        <div class="edit_buttons">
            <button class="btn_editItem" type="submit">Modificar Producto</button>
            <button class="btn_editItem" type="reset">Limpiar</button>
        </div>
        </section>
        </form>
    </main>   

    <%- include ('../partials/footer')%>
</body>
</html>