<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title><%=title%></title>
</head>
<body>
    <%- include ('../partials/headerUser')%>
    
    <main>

        <form action="/admin/edit/<%=product.product_id %>?_method=PUT" method="POST" enctype="multipart/form-data">
        <section class="editItem">
            <p class="admin_title">Editar item</p> 
        <section class="info_editItem">
            <label class="label_editItem" for="category">Categoría:</label>
            <select class="select_options" name="category" id="category">               
                <% if (product.category_id == 1) { %>                
                <option value="1" selected>Funkos</option>
                <option value="2">Remeras</option>
                <option value="3">Llaveros</option>
                <% } %>
                <% if (product.category_id == 2) { %>                
                    <option value="1" selected>Funkos</option>
                    <option value="2">Remeras</option>
                    <option value="3">Llaveros</option>
                <% } %>
                <% if (product.category_id == 3) { %>                
                    <option value="1" selected>Funkos</option>
                    <option value="2">Remeras</option>
                    <option value="3">Llaveros</option>
                <% } %>
            </select>
            <label class="label_editItem" for="licence">Licencia:</label>
            <select class="select_options" name="licence" id="licence">
                <% if (product.licence_id == 1) { %>
                    <option value="1" selected>Pokemon</option>
                    <option value="2">Star Wars</option>
                    <option value="3">Harry Potter</option>
                    <option value="4">Naruto Shippuden</option>
                <% } %>
                <% if (product.licence_id == 2) { %>
                    <option value="1">Pokemon</option>
                    <option value="2" selected>Star Wars</option>
                    <option value="3">Harry Potter</option>
                    <option value="4">Naruto Shippuden</option>
                <% } %>
                <% if (product.licence_id == 3) { %>
                    <option value="1">Pokemon</option>
                    <option value="2">Star Wars</option>
                    <option value="3" selected>Harry Potter</option>
                    <option value="4">Naruto Shippuden</option>
                <% } %>
                <% if (product.licence_id == 4) { %>
                    <option value="1">Pokemon</option>
                    <option value="2">Star Wars</option>
                    <option value="3">Harry Potter</option>
                    <option value="4" selected>Naruto Shippuden</option>
                <% } %>                

            </select>
        </section>        
        <section class="info_editItem">
            <label class="label_editItem2" for="name">Nombre del producto:</label>
            <input class="input_editItem" type="text" value="<%=product.product_name %>">
        </section>        
        <textarea class="textarea_editItem" name="description" id=""><%=product.product_description %></textarea>                             
        
        <section  class="info_editItem">
            <label class="label_editItem2" for="sku">SKU:</label>
            <input class="input_editItem2" type="text" value="<%=product.sku %>">
            <label class="label_editItem2" for="price">Precio:</label>
            <input class="input_editItem2" type="text" name="price" id="precio" value="<%=product.price %>">
            <label class="label_editItem2" for="stock">Stock:</label>
            <input class="input_editItem2" type="text" name="stock" value="<%=product.stock %>">

        </section>        
        <section class="info_editItem">
            <label class="label_editItem2" for="discount">Descuento:</label>
            <input class="input_editItem2" type="text" name="discount" id="discount" value="<%=product.discount %>">
            <label class="label_editItem2" for="dues">Cuotas:</label>
            <select class="select_options" id="dues">
                <% if (product.dues ==3) { %> 
                <option selected value="1"><%=product.dues %> cuotas sin interés</option>
                <option value="2">6 cuotas con interés bajo</option>
                <option value="3">12 cuotas con interés</option>
                <% } %>
                <% if (product.dues ==6) { %> 
                    <option selected value="2"><%=product.dues %> cuotas con interés bajo</option>                    
                <% } %>
                <% if (product.dues ==12) { %> 
                    <option selected value="3"><%=product.dues %> cuotas con interés</option>                    
                <% } %>
            </select>
        </section>
        
        <div>
            <label class="label_editItem2" for="images">Imágenes:</label>
            <input class="file" type="file" name="images" id="file">
        </div>
        <div class="edit__imgs">
            <div class="edit_img">
                <img src="/img<%= product.image_front%>" alt="<%=product.product_description %>">
                <p>Frente</p>
            </div>
            <div class="edit_img">
                <img src="/img<%= product.image_back%>" alt="<%=product.product_description %>">
                <p>Dorso</p>
            </div> 
        </div>
        <div class="edit_buttons">
            <button class="btn_editItem" type="submit">Modificar Producto</button>
            <button class="btn_editItem" type="reset">Limpiar</button>
        </div>
        </section>
        </form>
    </main>   

    <%- include ('../partials/footer')%>
</body>
</html>

